.sidebar-container{
    padding: 0px 10px;
    position:sticky;
    top: 10px;
}

.linkbtn{
    width: 100%;
    color: black !important;
    text-align: left !important;
    display: flex !important;
    justify-content: flex-start !important;
    margin-top: 10px !important;

    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    font-size: 11px !important;
}
.btn{
    background-color: rgb(241, 241, 241) !important;
}
hr{
    margin-top: 20px;
}
h1{
    font-size: 24px;
}